@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Abel);

body {
	width: 100% !important;
	overflow-x: hidden !important;
}

.tracker {
	 height: 0 !important;
    width: 0 !important; 
    line-height: 0 !important; 
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

.spam-filter {
	display: none;
}

a:link {
	outline: none;
    text-decoration: none;
	color: #000000;
}

a:visited {
	outline: none;
    text-decoration: none;
	color:#000000;
}

a:hover {
	outline: none;
    text-decoration: none;
}

a:active {
	outline: none;
    text-decoration: none;
	color:#fff;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}



	/* Fixed header and footer.
	* --------------------------------------- */
	@media only screen and (min-width: 0px) {
	.limiter {
	max-width: 1080px;
	}

}

@media only screen and (min-width: 2000px) {
	.limiter {
	max-width: 1200px;
	}
}

.limiter {
	width: 100%;
	height: auto;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

/* navbar * --------------------------------------- */
@media only screen and (min-width: 0px) {
	.nav {
	font-size: 11px;
	}

}

@media only screen and (min-width: 1200px) {
	.nav {
	font-size: 15px;
	}
}

	.navbar{
		position:fixed;
		height: 80px;
		display:block;
		width: 100%;
		background: #3c3c3c;
		border: none;
		box-shadow: 0px 2px 5px #000;

	}


	.nav {
		text-transform: uppercase;
		margin-top: 15px;
		font-weight: 200;
		letter-spacing: 3px;

	}

	#mainnav li a{
		color: #fff;
	}

	#mainnav li a:hover {
		color: #aac75a; 
	}


	.dropdown {
		position: absolute;
		width: 130px;
		display: none;
  		opacity: 0;
  		visibility: hidden;
	}

	.dropdown li {
		display: block;
		width: 160px;
		padding: 10px;
		background-color: #3c3c3c;
	}

	.dropdown li:hover {
		background-color: #a2a2a2;
		
	}

	ul li:hover .dropdown {
		display: block;
  		opacity: 1;
  		visibility: visible;
	}

@media only screen and (min-width: 0px) {
	.headerimage {
	padding-left: 10px;
	}

}

@media only screen and (min-width: 1080px) {
	.headerimage{
	padding-left: 0;
	}

	}

	.headerimage img{
		height: 80px;
	}


	#mininav {
		float: right;
		text-align: right;
		border: none;
		background: #666;
		border-radius: 3px;
		overflow: scroll;
	}

	#mininav li {
		
		font-size: 14px;

	}

	#mininav li a{
		font-weight: 200;
		color: #fff;
	}

	#mininav li a:hover {
		color: #fff;
		background-color: #aac75a;
	}

	#collapse {
		border: none;
	}


/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}

	/* buildings
	* --------------------------------------- */
	@media only screen and (min-width: 0px) {
		.landing {
			font-size: 15px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.landing span {
		font-size: 12px;
		font-weight: 200;
	}
	}

	@media only screen and (min-width: 550px) {
		.landing {
			font-size: 40px;
		}
		.landing span {
		font-size: 20px;
		font-weight: 200;
	}
	}
	@media only screen and (min-width: 900px) {
		.landing {
			font-size: 60px;
			font-family: 'Abel', sans-serif;
			text-transform: uppercase;
		}
		.landing span {
		font-size: 40px;
		font-weight: 200;
	}
	}

 	.landing { 
 		position: relative;
		font-weight: 300;
		color: #fff;
		letter-spacing: 2px;
		z-index: 5;
		top: -20%;
		text-shadow: 1px 1px 20px #222;
	}


	.buildings {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 1;
	}


	.buildings li{
		position: absolute;
		bottom: 0px;
	}

	.buildings li img {
		width: 100%;
		max-height: 1200px;
	}
	

	.truck {
		width: 30%;
	}

/* main services page * ----------------------------------------------------------------------- */
@media only screen and (min-width: 0px) {
	.left-col {
		width: 100%;
		float: 0;
	}
	.right-col {
		width: 100%;
		float: 0;
		padding-bottom: 200px;
	}
}

@media only screen and (min-width: 670px) {
	.left-col {
		width: 50%;
		float: left;
	}
	.right-col {
		width: 50%;
		float: right;
		padding-bottom: 100;
	}
}


	.main-services {
		height: 100%;
		width: 100%;
	}

	.left-col {
		height: 100%;
	}

	.right-col {
		
		height: 100%;
		
	}

	.top-block {
		min-width: 300px;
		width: 100%;
		height: 50%;
		text-align: center;
	}

	.center{
		
    width: 100%;
    height: 100%;
    padding: 2%;

	}

	.top-block img{
		padding: 5%;
		width: 40%;
	}

	.top-block h3{
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 3px;
		color: #fff;
		text-transform: uppercase;
	}

	.heat-copy {
		min-width: 280px;
		width: 75%;
		font-weight: 200;
		margin-right: auto;
		margin-left: auto;
		font-size: 15px;
		color: #a4a4a4;
	}

	#learn {
		margin-top: 20px;
		background-color: rgba(255, 255, 255, 0);
		border-width: 3px;
		color: #fff;
		border-color: #fff;
		-o-transition: color .5s, background .5s ease-in-out;
  	-ms-transition: color .5s, background .5s ease-in-out;
  	-moz-transition: color .5s, background .5s ease-in-out;
  	-webkit-transition: color .5s, background .5s ease-in-out;
  	transition: color .5s, background .5s ease-in-out;
	}

	#learn:hover{
	background-color: rgba(255, 255, 255, .5);
	color: #666;
	}

	.bottom-block {
		min-width: 320px;
		width: 100%;
		height: 50%;
		text-align: center;
	}

	.bottom-block h3{
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 3px;
		color: #fff;
		text-transform: uppercase;
	}

	.cooling-copy {
		min-width: 280px;
		width: 75%;
		color: #a4a4a4;
		font-weight: 200;
		margin-right: auto;
		margin-left: auto;
		font-size: 15px;
	}

	.bottom-block img{
		padding: 5%;
		width: 35%;
	}

	.right-col h3{
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 3px;
		color: #fff;
		text-transform: uppercase;
	}

	.geo-copy {
		min-width: 280px;
		width: 75%;
		color: #a4a4a4;
		font-weight: 200;
		margin-right: auto;
		margin-left: auto;
		font-size: 15px;
	}

@media only screen and (min-width: 0px) {
	.right-col img{
		width: 58%;
	}

}

@media only screen and (min-width: 2000px) {
	.right-col img{
		width: 59%;
	}
}

	.right-col img{
		padding: 5%;
	}



/* heating page * ----------------------------------------------------------------------- */
	
	@media only screen and (min-width: 0px) {
		#heating-page h3 {
			float: 0;
		}
		.heating-page-copy {
			float: 0;
			width: 80%;
			min-width: 280px;
			margin: 0 auto;
		}
		.heating-page-list {
			width: 80%;
			min-width: 280px;
			float: 0;
			margin-top: 25%;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 300px;
		}
		.list-header { 
			font-size: 20px;
		}
	}

	@media only screen and (min-width: 1200px) {
		#heating-page h3 {
			float: right;	
		}
		.heating-page-copy {
			float: left;
			width: 48%;
			margin-right: 10px;
			margin-left: 10px;
		}
		.heating-page-list {
			width: 48%;
			float: right;
			margin-top: 30%;
			margin-left: 10px;
			margin-right: 0;
			padding-bottom: 0;
		}
		.list-header { 
			font-size: 30px;
		}
	}


	#heating-page {
		background: -webkit-gradient(linear, top left, bottom left, from(#212121), to(#270000));
		background: -webkit-linear-gradient(#212121, #270000);
		background: linear-gradient(#212121,#270000);
	}

	#heating-page h3 {
		text-transform: uppercase;
		color: #fff;
		font-size: 50px;
		letter-spacing: 2px;
		width: 100%;
	
	}

	.heating-page-copy {
		text-align: left;
		color: #a4a4a4;
		margin-bottom: 30px;
		padding-left: 10px;
		font-size: 14px;
	}

	
	.heating-page-copy img{
		width: 100%;
		float: left;
	}


	.heating-page-list {
		
		text-align: left;
		font-size: 14px;
		
	}

	.heating-page-list li ul {
		padding-bottom: 10px;
	}

	.heating-page-list li ul li{
		display: inline-block;
	}

	.list-header {
		position: relative;
		top: 5px;
		padding: 6px;
		left: 5px;
		
		color: #aac75a; 
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 100;
	}

	.list-copy {
		color: #a4a4a4;
		padding-bottom: 10px;
	}



/* cooling page * ----------------------------------------------------------------------- */
	
	@media only screen and (min-width: 0px) {
		.cooling-page-list li{
			display: inline-block;
			width: 80%;
			min-width: 280px;
			padding: 20px;
		}

		#cooling-page h3 {
		text-transform: uppercase;
		color: #fff;
		font-size: 30px;
		letter-spacing: 2px;
		width: 100%;
	}
	}

	@media only screen and (min-width: 768px) {
		.cooling-page-list li{
			display: inline-block;
			width: 30%;
			min-width: 0;
			padding: 20px;
		}

		#cooling-page h3 {
		text-transform: uppercase;
		color: #fff;
		font-size: 50px;
		letter-spacing: 2px;
		width: 100%;
	}
	}

	#cooling-page {

			background: -webkit-gradient(linear, top left, bottom left, from(#212121), to(#001e2a));
			background: -webkit-linear-gradient(#212121, #001e2a);
			background: linear-gradient(#212121,#001e2a);
	}

	.whitebar {
		position: relative;
		height: auto;
		width: 100%;
		background: rgba(255, 255, 255, 1);
		margin-bottom: 300px;
	}


	.cooling-page-copy {
		color: #a4a4a4;
		width: 50%;
		min-width: 280px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		font-size: 15px;
		margin-bottom: 50px;
	}

	.cooling-page-list .list-header {
		color: #286680;
	}

	

	#cooling-page #fan{
		width: 20%;
	}

	.cooling-page-list {
		width: 100%;
	}

	.cooling-page-list li{
		font-size: 14px;
		vertical-align: top;
	}

/* geothermal page * ----------------------------------------------------------------------- */
	@media only screen and (min-width: 0px) {
		.geo-img {
		position: relative;
		text-align: center;
		height: auto;

	}
		.geo-img img{
		width: 10%;
		min-width: 100px;
		height: auto;
		}

		.geo-copy2 h2{
		text-align: center;
		font-size: 30px;
		}
		
		.geo-copy2{
		width: 80%;
		float: 0;
		margin: 0 auto;
		}

		.subhead h3{
			text-align: center;
			font-size: 15px;
		}

	}

	@media only screen and (min-width: 1100px) {
		.geo-img {
		position: absolute;
		margin-top: 0;
		width: auto;
		height: 80%;
		}

		.geo-img img{
		width: auto;
		height: 100%;
		min-height: 500px;
		}

		.geo-copy2 h2{
			text-align: left;
		}

		.geo-copy2{
		width: 50%;
		float: right;
		margin-right: 10px;
		}

		.subhead h3{
			text-align: left;
			font-size: 18px;
		}

		.geo-copy2 h2{
		font-size: 60px;
		}
		
	}	

	#geo-page {

	}
	
	.geo-copy2 h2{
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
	}
	

	.geo-copy2{
		position: relative;
		text-align: left;
		font-size: 14px;
		color: #a4a4a4;
		min-width: 250px;
		padding-bottom: 200px;
	}
	
	.subhead {
		color: #aac75a;
		text-transform: capitalize;
		}


	.frame-contain {
		 position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px;
	    height: 0;
	    margin-bottom: 50px;
	}

	.geo-copy2 iframe {
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/* in floor service * ----------------------------------------------------------------------- */
	@media only screen and (min-width: 0px) {
		#infloor-page h2 {
			font-size: 30px;
		}
	}
	@media only screen and (min-width: 600px) {
		#infloor-page h2 {
			font-size: 60px;
		}
	}

	#infloor-page {
	}

	.infloor-img img{
		width: 40%;
		max-width: 450px;
	}

	#infloor-page h2 {
		text-transform: uppercase;
		letter-spacing: 3px; 
		text-align: center;
		color: #fff;
	}

	.infloor-copy {
		min-width: 280px;
		margin: 0 auto;
		width: 50%;
		text-align: left;
		color: #fff;
		font-size: 14px;
		color: #a4a4a4;
		margin-bottom: 200px;
	}


/* worry free service * ----------------------------------------------------------------------- */

	@media only screen and (min-width: 0px) {
		.term-list li {
		display: block;
		text-align: center;
		}
		.term-list li h4 {
		float: 0;
		}

		.term-list li img {
		float: 0;
		}
	}

	@media only screen and (min-width: 1200px) {
		.term-list li {
		display: inline-block;
		text-align: left;
		}

		.term-list li h4 {
		float: left;
		}

		.term-list li img {
		float: right;
		}
	}
	
	#worry-free-page {

	}

 	#worry-free-page #badge {
 		width: 15%;
 		min-width: 200px;

 	}

	.worry-free-block {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		text-align: center; 
		color: #fff;
		margin-bottom: 50px;
	}

	.worry-free-block h3{
		text-transform: uppercase;
		text-align: center;
		font-weight: 200;
		font-size: 40px;
		letter-spacing: 3px;
		color: #fff;
	}



	.worry-free-copy {
		position: relative;
		text-align: center;
		margin: 20px;
		margin-right: auto;
		margin-left: auto;
		color: #a4a4a4;
		max-width: 600px;
		font-size: 14px;
		width: 80%;
		min-width: 280px;
	}

	.terms h3{
		text-transform: uppercase;
		color: #aac75a;
		margin-bottom: 50px;
	}

	
	.terms {
		width: 50%;
		max-width: 500px;
		margin: 0 auto;
		min-width: 280px;
		padding-bottom: 200px;
	}

	.term-list li {
		width: 100%;
		
	}

	.term-list li h4 {
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #a4a4a4;
		font-size: 12px;

	}

	.term-list li img {
		margin-top: 5px;
	}



/* commercial services * ----------------------------------------------------------------------- */
	@media only screen and (min-width: 0px) {
		.img-list li{
			width: 100%;
		}
		.commercial-copy h2{
			font-size: 30px;
		}
	}

	@media only screen and (min-width: 1000px) {
		.img-list li{
			width: 30%;
		}
		.commercial-copy h2{
			font-size: 60px;
		}
	}

	.commercial-copy .subhead h3{
		text-align: center;
	}


	.commercial-copy{
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		min-width: 280px;
		max-width: 600px;
		text-align: center;
		z-index: 50;
		color: #a4a4a4;
		font-size: 14px;
		margin-bottom: 20px;
	}

	.commercial-copy h2{
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 200;
		color: #fff;
	}

	.img-list img{
		max-width: 400px;
		min-width: 250px;
	}

	.img-list li{
		display: inline-block;
	}


/* faq * ----------------------------------------------------------------------- */
	@media only screen and (min-width: 0px) {
		.columns {
			padding-left: 0;

		}
	}

	@media only screen and (min-width: 400px) {
		.columns {
			padding-left: 10%;

		}
	}

	@media only screen and (min-width: 500px) {
		.columns {
			padding-left: 70px;

		}
	}

	@media only screen and (min-width: 950px) {
		.columns {
			padding-left: 0;
		}
	}

	.faq-img {
		position: absolute;
		width: 120%;
		padding-bottom: 50%;
		background: url(images/faq.png) no-repeat;
		background-size: cover;
		bottom: 0;
		opacity: .2;
	}

	.faq-copy h2{
		position: relative;
		text-transform: uppercase;
		font-size: 70px;
		letter-spacing: 3px;
		color: #fff;
		text-align: left;
		font-weight: 200;
		margin-left: 30px;
	}


	.small-questions li{
		text-align: left;
		color: #eee;
		font-size: 14px;
		margin-left: 30px;
	}

	.columns {
		margin-top: 70px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 300px;

	}

	.columns li{ 
		width: 31%;
		min-width: 300px;
		margin: 8px;
		text-align: left;
		padding: 10px;
		background: rgba(255, 255, 255, 1);
		font-size: 14px;
		border-radius: 5px;
		color: #a4a4a4;;
	}

	.columns li h4{
		color: #aac75a;
	}

/* testimonials * ----------------------------------------------------------------------- */

	@media only screen and (min-width: 0px) {
		#testimonials-page h3{
			font-size: 30px;
		}
	}

	@media only screen and (min-width: 570px) {
		#testimonials-page h3{
			font-size: 60px;
		}
	}

	@media only screen and (min-width: 0px) {
		.testimonials {
			padding-left: 0;

		}
	}

	@media only screen and (min-width: 400px) {
		.testimonials {
			padding-left: 10%;

		}
	}

	@media only screen and (min-width: 500px) {
		.testimonials {
			padding-left: 70px;

		}
	}

	@media only screen and (min-width: 950px) {
		.testimonials {
			padding-left: 0;
		}
	}

	#testimonials-page hr {
		width: 30%;
		min-width: 280px;
		margin-right: auto;
		margin-left: auto;
		border-color: #aac75a;
	}

	.test-img {
		position: absolute;
		width: 120%;
		padding-bottom: 60%;
		background: url(images/testimonials.png) no-repeat;
		background-size: cover;
		bottom: 0;
		opacity: .2;
	}

	#testimonials-page h3{
		margin-top: 50px;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
		font-weight: 200;
	}	

	.testimonials{
		
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 300px;

	}

	.testimonials li{ 
		width: 31%;
		min-width: 300px;
		margin: 8px;
		text-align: left;
		padding: 10px;
		background: rgba(255, 255, 255, 1);
		font-size: 14px;
		border-radius: 5px;
		color: #a4a4a4;;
	}

	.testimonials li h4{
		color: #aac75a;
	}
/* Jobs * ----------------------------------------------------------------------- */

#jobs-page {
	height: 100%;
	overflow: hidden;
}

.job-block h2 {
	color: #A9C953;
	text-transform: uppercase;
	font-size: 50px;
}

.jobs-contain {
	float: right;
	position: relative;
	z-index: 50;
	top: 0;
	margin-top: 10%;
	color: white;
	text-shadow: 5px 5px 10px black;
}



.jobs-contain button {
	border: 2px solid white;
	background: rgba(255,255,255,0);
	border-radius: 3px;
	color: white;
	text-transform: uppercase;
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	text-shadow: 5px 5px 10px black;
}

.jobs-contain h2 {
	font-size: 50px;
	color: white;
	text-transform: uppercase;	
}


.left {
	position: absolute;
	left: 0;
	bottom: 0;
}

@media only screen and (min-width: 0px) {
	.jobs-contain {
		position: absolute;
		width: 100%;
		top: 20px;
	}
	.buildings .limiter li img{
		width: 50%;
	}
	.jobs-contain {
		font-size: 14px;
	}
	.jobs-contain h2 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 768px) {
	.jobs-contain {
		position: relative;
		width: 50%;
	}
	.buildings .limiter li img{
	width: 80%;
	}
	.jobs-contain {
		font-size: 18px;
	}
	.jobs-contain h2 {
		font-size: 50px;
	}
}



/* contact * ----------------------------------------------------------------------- */


@media only screen and (min-width: 0px) {
	#email {
	right: 0px;
}
#contact-page h2{
	font-size: 30px;
	}

	.info-block li{
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	#email {
	right: -2px;
	}

	#contact-page h2{
		font-size: 60px;
	}

	.info-block li{
		width: 30%;
	}
}

#contact-page h2{
	color: #fff;
	letter-spacing: 3px;
	width: 100%;
	font-weight: 200;
}

.container {
	width: 100%;
}

.color-bar {
	width: 100%;
	background: #aac75a;
	margin-bottom: 100px;
}

.info-block {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 15px;
	margin-top: 60px;
}

.info-block a{
	color: #fff;
	}

.info-block li{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	padding-bottom: 15px;
	}

.info-block h3 {
	color: #666;
}

.formcontain {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 100%;

}

.formcontain h3 {
	font-weight: 100;
	letter-spacing: 3px;
	text-align: center;
	color: #fff;
	margin-left: 80px;
}


#name {
	position: relative;
	right: -2px;
	margin: 10px;
	width: 88%;
	
	max-width: 620px;
	height: 50px;
	border-width: 1px;
	padding: 10px;
	border-radius: 5px;

}

#phone {
	position: relative;
	right: -2px;
	margin: 10px;
	width: 88%;
	
	max-width: 620px;
	height: 50px;
	border-width: 1px;
	padding: 10px;
	border-radius: 5px;
}

#email {
	position: relative;
	right: -5px;
	margin: 10px;
	width: 88%;

	max-width: 620px;
	height: 50px;
	border-width: 1px;
	padding: 10px;
	border-radius: 5px;
}

#service {
	position: relative;
	right: -2px;
	margin: 10px;
	width: 88%;
	max-width: 620px;
	height: 50px;
	border-width: 1px;
	padding: 10px;
	border-radius: 5px;
}

#message {
	right: -10px;
	margin: 10px;
	width: 88%;
	min-width: 250px;
	max-width: 620px;
	border-width: 1px;
	border-radius: 5px;
}

#submitButton {
	background-color: #aac75a;
	border: none;
	
}


select {
	
	padding-left: 10px;
	border-color: #999; 
	 -webkit-appearance: none;
  	-webkit-border-radius: 0px;
  	color: #999;
}

form {
	font-size: 20px;
}

::-webkit-input-placeholder {
 	padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
   padding-left: 10px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 10px;
}

:-ms-input-placeholder {  
   padding-left: 10px;
}



